body{background:#fff;
}
.menu ul li{list-style:none;}
.bena{display:grid;
	grid-template-columns:30% 40% 30%;
	grid-gap:1em;}

.bena> div {background:#eee;
			padding:1px;}
.bena > div:nth-child(odd){background:#ddd;}
.nested{ display:grid;
grid-template-rows:3 repeat(33.3%);
grid-gap:1em;}
.nested > div {border:#000 solid 1px;}
